
<mat-card>
    <form class="example-form" layout-align="center center">
        <img src="./../../../assets/login.png">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Correo o Usuario</mat-label>
          <input type="text" matInput
                 placeholder="Ingrisa usuario">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Ingresa contraseña">
        </mat-form-field>
      </form>

</mat-card>